@{
    ViewBag.Title = "About This Application";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Nick Ballard. I am a Senior studying MIS and Business Analytics with a minor in Spanish.I'm from Wooster, Ohio and I can't wait to expand my skills in this class.</p>
<p>My first MVC application for MIS4200</p>