@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    126 N. Congress St.<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    330-439-3391
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">nb478816@ohio.edu</a><br />
</address>