@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ohio University College of Business</h1>
    <p class="lead">The College of Business at Ohio University gives a student-centered approach to tackle today's business problems.</p>
    <p><a href="https://business.ohio.edu/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Management Information Systems</h3>
        <p>
            Management Information Systems teaches students the skills they need to use computers to solve problems in the 
            business world. The need for MIS majors is found in all industries.
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/academics/undergrad-majors/management-information-systems/">Learn more &raquo;</a></p>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Navigation
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">@Html.ActionLink("Student", "Index", "Students") <br /></a>
                <a class="dropdown-item" href="#">@Html.ActionLink("Class", "Index", "Classes") <br /></a>
                <a class="dropdown-item" href="#">@Html.ActionLink("Enrollment", "Index", "Enrollments") <br /></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Business Analytics</h2>
        <p>This major teaches students the skills to look at datasets in a way that can help their employers maximize profits and efficiencies 
        by finding new trends in data.</p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/academics/undergrad-majors/business-analytics/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Spanish </h4>
        <p>The Spanish minor at Ohio University gives students a fundamental understanding of the language 
        and an in-depth look at different Spanish cultures.</p>
        <p><a class="btn btn-default" href="http://modlang.ohio.edu/wp-content/uploads/2012/05/SPANminor.pdf">Learn more &raquo;</a></p>
    </div>
</div>